<h1>{{ section.settings.asdasdasdasd }}</h1>
{% schema %}
{
  "name": "asdasd",
  "settings": [
    {
      "type": "text",
      "id": "asdasdasdasd",
      "label": "asdasdasdasdasd"
    }
  ]
}
{% endschema %} 