<h2>This is a collection list!</h2>

{% schema %}
{
  "name": "collectionlisttwo",
  "tag": "section",
  "class": "collectionlist2",
  "settings": [
    {
      "type": "collection_list",
      "id": "collectionlistid",
      "label": "collectionlistlabel"
    }
  ],"blocks": [
     {
       "name": "collection",
       "type": "collection",
       "settings": [
         {
           "type": "collection",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ]
}
{% endschema %}