<h1>{{ section.settings.titulo_lista_colecoes }}</h1>
<ul>
  {% for block in section.blocks %}
    <li {{ block.shopify_attributes }}>
      {{ block.settings.foto_colecao |  image_url: width: 200 }}
      <p>{{ block.settings.nome_colecao }}</p>
    </li>
  {% endfor %}
</ul>

{% schema %}
{
  "name": "Collection List 2",
  "class": "listcollection2class",
  "tag": "section",
  "settings": [
    {
        "type": "text",
        "label": "Título Da Lista de Coleções",
        "id": "titulo_lista_colecoes",
        "default": "Título",
        "placeholder": "Nome da sua lista de coleções"
      }
  ],
  "presets": [
    {
        "name": "Collection List 2"
      }
  ],
  "blocks": [
    {
      "name": "Coleção",
      "type": "colecao",
      "settings": [
        {
          "type": "image_picker",
          "label": "Foto da Coleção:",
          "id": "foto_colecao"
        },
        {
          "type": "text",
          "label": "Nome da Coleção",
          "id": "nome_colecao"
        }
      ] 
    }
  ]
}
{% endschema %}