<h2>This is a collection list!</h2>

  {% schema %}
{
  "name": "asdasd",
  "tag": "section",
  "class": "collectionQ834",
  "settings": [
    {
      "type": "collection",
      "id": "collectionQ298",
      "label": "Asdasd"
    }
  ]
}
{% endschema %} 