<h2>This is a collection list!</h2>

  {% schema %}
{
  "name": "Slideshow",
  "class": "slideshow",
  "settings": [
    {
      "type": "collection",
      "id": "collectionQ298",
      "label": "asdasd"
    }
  ]
}
{% endschema %} 