<h1>{{ section.settings.asdasdasdasd }}</h1>

{% schema %}
{
  "name": "asdasd",
  "tag": "section",
  "class": "asdasdasdasd",
  "settings": [
    {
      "type": "text",
      "id": "asdasdasdasd",
      "label": "asdasdasdasdasd"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ]
}
{% endschema %}
