<h1>{{ section.settings.titulo_lista_colecoes }}</h1>

{% schema %}
{
  "name": "Collection List 2",
  "class": "listcollection2class",
  "tag": "section",
  "settings": [
    {
        "type": "text",
        "label": "Título Da Lista de Coleções",
        "id": "titulo_lista_colecoes"
      }
  ],
  "presets": [
    {
        "name": "Collection List 2"
      }
  ]
}
{% endschema %}