<h4>Isso daqui é o mínimo que uma sessão precisa para aparecer no customize</h4>

{% schema %}
{
    "name": "section_teste",
    "default": [
        {
            "name": "opa"
        }
    ]
}
{% endschema %}